* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}

.container {
    background-color: rgb(89, 151, 244);
    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;

}

.search input {
    height: 30px;
    margin: 20px 0;
    background: black;
    padding: 0 20px;
    border: none;
    border: 1px solid rgb(39, 36, 35);
    color: aliceblue;
    border-radius: 10px;
}

.rows {

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rows .card {
    width: 300px;
    height: 300px;
    padding-bottom: 20px;
    background: #967777;
    overflow: hidden;
}

.top {
    display: inline-flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.top p {
    font-size: large;
    color: rgb(197, 149, 29);
}

.hidden {
    background: rgb(255, 255, 255);
    transition: all .2s linear;
    padding: 10px 15px;
}

.card img {
    width: 300px;
    height: 300px;
}

.card:hover .hidden {
    transform: translateY(-100%);
}